<% if current_user %>
	Local Email: <%= current_user.email %>
<br/>

<br/>

Playlists:</br>
<ul id="all-playlists">
<% current_user.playlists.each do |playlist| %>
<li class="single-playlist" id="<%= playlist.id %>"><%= playlist.name %></li>
<% end %></ul>
</br>
<input type="text" id="new-playlist-name" placeholder="Untitled Playlist"></input>
<button id="create-playlist">Create Playlist </button>


<div id="main-container">
</div>

<input type='text' id='new-song-url' placeholder='Please insert a valid URL here'></input>
<input type='text' id='new-song-playlist-id' placeholder='Playlist ID'></input>
<input type='text' id='new-song-title' placeholder='Title'></input>
<input type='text' id='new-song-artist' placeholder='Artist'></input>
<input type='text' id='new-song-album' placeholder='Album'></input>
<input type='text' id='new-song-genre' placeholder='Genre'></input>
<button id='add-song'>Add Song</button>



<div id="favorite-songs-playlist">
  <h3>Favorites Playlist</h3>
  <ul id= '<%= current_user.playlists.find_by_name('Favorites').id %>'>
  <% current_user.playlists.find_by_name('Favorites').playlist_orders.each do |order| %>
  <li id='<%= order.id %>'>
    <button class='play-song' id='<%= Song.find(order.song_id).stream_id %>'>Play</button>
    <%= Song.find(order.song_id).title %>
    <button class='remove-song'>Remove</button>
    <% if Favorite.where(user_id: current_user.id, song_id: Song.find(order.song_id).id) == [] %>
      <button class='favorite-song'>Favorite</button>
    <% else %>
      <button class='unfavorite-song'>Unfavorite</button>
    <% end %>
  </li>
  <% end %>
  </ul>
</div>



<br/>
	<%= link_to 'Logout', destory_session_path %>


<% else %>
<br/>
<h1>Register for Apollo</h1>
<label>Email:</label><input type="text" id="email-register" placeholder="email@example.com"></input><br/>
<label>Password:</label><input type="password" id="password-register" placeholder="password"></input><br/>
<button id="create_user_submit">Register</button>

<h1>Current User Login</h1>
<label>Email:</label><input type="text" id="email-login" placeholder="email@example.com"></input><br/>
<label>Password:</label><input type="password" id="password-login" placeholder="password"></input><br/>
<button id="user_login_submit">Log In</button>
<% end %>